:root {
    --navOptionColor: #e4e4e4;
    --main-color: #efefef;
}

* {
    margin: 0;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23e4e4e4' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

body,
html {
    height: 100%;
}

/* HEADER AND NAVBAR */

a {
    text-decoration: none;
    color: unset;
}

header {
    font-family: 'Sintony', sans-serif;
    border-bottom: 1px solid black;
    background-color: var(--main-color);
}

.header-container {
    max-width: 75%;
    margin: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header-div {
    /* margin-left: 50px; */
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}

.right-header-div {
    /* margin-right: 50px; */
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.right-header-div a {
    padding: 15px 20px;
    border-radius: 100px;
    border: 1px solid inherit;
    transition: background-color 0.2s ease;
}

.right-header-div a:hover {
    background-color: #dadada;
}

/* MAIN INFORMATION CONTAINER */

.main-information-container {
    background-color: var(--main-color);
    width: 75%;
    margin: 10px auto;
    display: flex;
    border-radius: 10px;
    font-family: 'Sintony', sans-serif;
}

.description-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.my-name {
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

.information-paragraph {
    color: #3b3b3b;
    font-size: 14px;
    margin: 0 40px;
    padding-bottom: 10px;
    text-align: center;
}

.social-meida-icons {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    gap: 10px;
}

.social-meida-icons i {
    font-size: 50px;
}

.profile-photo-container {
    flex-shrink: 2;
    flex-grow: 2;
    margin: 0 40px;
}

.profile-photo-container picture {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.profile-photo-container picture img {
    /* max-height: 250px; */
    max-width: 250px;
    border-radius: 100%;
    padding: 10px;
    border: 1px dashed black;
    position: relative;
    margin: auto;
    bottom: 0;
    transition: all 0.2s ease;
}

.profile-photo-container picture img:hover {
    box-shadow: 0px 0px 8px 4px rgba(69, 69, 69, 0.2);
    bottom: 2px;
}

@media (max-width: 1110px) {
    .header-container {
        flex-direction: column;
        padding: 20px 0 10px 0;
    }    
    
    .left-header-div, .right-header-div {
        justify-content: center;
    }

    .right-header-div {
        font-size: 12px;
        text-align: center;
    }

    .right-header-div a {
        min-width:65px;
        text-align: center;
    }

    .main-information-container {
        padding: 20px 0;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
     
    .my-name {
        font-size: 30px;
    }
}
